<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script>
		// load observe and webcomponents polyfills (only if needed)
		var loadScript = function(src) {
			var script = document.createElement('script');
			script.src = src;
			document.head.appendChild(script);
		}
		if(!Object.observe) loadScript('/bower_components/object.observe/dist/object-observe.js');
		if(!Array.observe) loadScript('/bower_components/array.observe/array-observe.js');
		var eventToWait = (!HTMLElement.prototype.createShadowRoot) ? 'WebComponentsReady' : 'load';
		if(!HTMLElement.prototype.createShadowRoot) loadScript('/bower_components/webcomponents.js/webcomponents.min.js');
	</script>
	<link rel="import" href="bower_components/mysimpleapp/mysimpleapp.pack.html"></link>
	<title>My Simple App</title>
	<style>
		body {
			padding: 0;
			margin: 0;
		}
		#content {
			padding: 10px;
		}
	</style>
</head>
<body>
	<center style="border:1px solid black; padding:10px;">
		<input type=text name="name" placeholder="username" ?val="form.name"><br>
		<input type=text name="pass" placeholder="password" ?val="form.pass"><br>
		<input type=text name="email" placeholder="email" ?val="form.email"><br>
		<button ?onclick="configure(form)">Install</button>
	</center>
	<script>
		var configure = function(form) {
			App.post('configure', {name:form.name, pass:form.pass, email:form.email}, function(){
				location.reload();
			});
		};
		window.addEventListener(eventToWait, function(e) {
			Bind(document.body, {user:App.user, form:{}, configure:configure});
		});
	</script>
</body>
</html>
